
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
margin: 0;
padding: 0;
}

/*Debut HEADER*/

header{
width: 100%;
background: #345765;
}
header nav {
display: flex;
max-width: 1920px;
margin: auto;
justify-content: space-between;
align-items: center;
}
header nav ul{
display: flex;
list-style: none;
}
header nav a{
color: #FFFFFF;
padding: 1rem;
display: block;
text-decoration: none;
}
header nav ul li:hover{
text-decoration: underline;
color: aliceblue;
}
header nav img{
width: 124px;
height: 80px;
}

/*Fin HEADER*/
/*Debut Main*/

main{
max-width: 1400px;
margin: auto;
}
main h1{
margin: auto;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 2.5rem;
line-height: 60px;
letter-spacing: 0.06rem;
text-transform: uppercase;
color: #34A58A;
margin-bottom: 3.5rem;
margin-left: 0.75rem;
}
main img{
object-fit: cover;
width: 100%;
border-radius: 10px;
margin-bottom: 7rem;
}
#block{
display: flex;
}
#blockleft{
display: flex;
flex-direction: column;
width: 66%;
}
#divadresse a:hover{
text-decoration: underline;
}
#divmail a:hover{
text-decoration: underline;
}
#divtel a:hover{
text-decoration: underline;
}
#map{
margin-left: 5.855rem;
padding-bottom: 2rem;
}
main h2{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 2.25rem;
line-height: 36px;
letter-spacing: 0.06em;
color: #6B5B54;
}
#presentation{
height: 83.33px;
}
main p{
left: 260px;
top: 1085px;
font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 25px;
letter-spacing: 0.05em;
color: #000000;
padding-bottom: 4.125rem;
}
#lieuicone{
height: 20.2px;
width: 16.33px;
margin: 0;
}
#lienmap{
margin-left: 1.4rem;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1.25rem;
line-height: 25px;
text-decoration: none;
letter-spacing: 0.06em;
color: #34A58A;
}
#gmap{
width: 547.67px;
height: 552.6px;
max-width: 100%;
}
#carte{
height: 83px;
}
#divadresse{
margin-bottom: 1.813rem;
margin-top: 1.313rem;
}
#mailicone{
height: 20px;
width: 25.12px;
margin: 0;
}
#lienmail{
margin-left: 0.654rem;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1.25rem;
line-height: 25px;
letter-spacing: 0.06em;
text-decoration: none;
color: rgba(52, 165, 138, 1);
}
#divmail{
margin-bottom: 21px;
}
#telicone{
height: 20.87;
width: 21.8px;
margin: 0;
}
#lientel{
margin-left: 1.313rem;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1.25rem;
line-height: 25px;
letter-spacing: 0.1em;
text-decoration: none;
color: rgba(52, 165, 138, 1);
}

/*Fin Main*/
/*Debut Footer*/

footer{
background: #345765;
padding-top: 2rem;
padding-bottom: 2rem;
}
footer section{
width: 50%;
}
#foot1{
display: flex;
max-width: 1400px;
margin: auto;
}
footer a{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #FFFFFF;
text-decoration: none;
letter-spacing: 0.06em;
}
footer p{
margin-bottom: 32px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 1.375rem;
line-height: 25px;
letter-spacing: 0.06em;
text-decoration-line: underline;
color: #FFFFFF;
}
#partleft{
max-width: 961px;
display: flex;
flex-direction: column;
justify-content: center;
}
#partrigth{
width: 40%;
display: flex;
flex-direction: column;
justify-content: center;
}
#logofoot{
display: flex;
flex-direction: column;
}
#endbar{
margin-top: 0.125rem;
background: #345765;
text-align: center;
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 1.25rem;
line-height: 25px;
letter-spacing: 0.06em;
color: #FFFFFF;
padding-top: 1.313rem;
padding-bottom: 1.188rem;
}
#lientelfoot{
text-decoration: none;
margin-left: 1rem;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1.25rem;
line-height: 25px;
letter-spacing: 0.06em;
color: rgba(255, 255, 255, 1);
}
#divmailfoot{
margin-top: 1rem;
margin-bottom: 2rem;
}
#lienmailfoot{
text-decoration: none;
margin-left: 0.813rem;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1.25rem;
line-height: 25px;
letter-spacing: 0.06em;
color: rgba(255, 255, 255, 1);

}
#lienmapfoot{
text-decoration: none;
margin-left: 1.063rem;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1.25rem;
line-height: 25px;
letter-spacing: 0.06em;
color: rgba(255, 255, 255, 1);
}
.linkfoot{
color: white;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1.25rem;
line-height: 25px;
letter-spacing: 0.06em;
}
.linkfoot1{
margin-bottom: 2.938rem;
color: white;
}
footer section div a:hover{
    text-decoration: underline;
    }
    #telfoot a:hover{
        text-decoration: underline;
        }
        #divmailfoot a:hover{
            text-decoration: underline;
            }
            #adressfoot a:hover{
                text-decoration: underline;
                }
                .juri:hover{
                    text-decoration: underline;
                    }
                

/*Fin Footer*/

/*-----------Responsive Design tablette 1024px-----------*/
@media screen and (max-width:1024px) {

#presentation{
text-align: center;
}
main p{
text-align: center;
}
#coord{
text-align: center;
}
main{
margin: 0;
}
main h1{
font-size: 1.875rem;
text-align: center;
}
#block{
display: flex;
flex-direction: column;
align-items: center;
}
#map{
margin: auto;
padding-top: 3.125rem;
}
#carte{
text-align: center;
}
footer{
display: flex;
}
#partleft{
padding: 0;
}
#logofoot{
margin: 0;
}
}

/*-----------Responsive Design mobile 768px-----------*/

@media screen and (max-width:768px) {
.navbar-menu {
display: flex;
justify-content: space-between;
align-items: center;
width: 50%;
height: 100%;
}    
.navbar-menu a {
font-size: 1.125rem;
text-decoration: none;
color: white;
padding: 0 0.625rem;
}    
.navbar-toggle {
display: none;
cursor: pointer;
}    
.navbar-toggle span {
display: block;
width: 25px;
height: 3px;
background-color: white;
margin: 0.313rem;
transition: transform 0.3s ease-in-out;
}
.navbar-menu {
display: none;
}
.navbar-toggle {
display: block;
}
.navbar-toggle.active span:nth-child(1) {
transform: rotate(45deg) translate(5px, 5px);
}
.navbar-toggle.active span:nth-child(2) {
transform: scale(0);
}
.navbar-toggle.active span:nth-child(3) {
transform: rotate(-45deg) translate(5px, -5px);
}     
.navbar-toggle.active {
transform: rotate(45deg);
}
.navbar-toggle.active ~ .navbar-menu {
display: block;
position: absolute;
top: 60px;
width: 100%;
background-color: #333;
padding: 0.625rem 1.25rem;
}
.navbar-menu a {
display: block;
padding: 0.625rem 0;
border-bottom: 1px solid white;
}
header ul {
width: 30px;
height: 30px;
background: #34A58A;
justify-content: flex-end;
border-top: 2px solid white;
position: relative;
}
footer{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#partleft{
width: auto;
max-width: auto;
padding: 0;
align-items: center;
}
#partrigth{
width: auto;
max-width: auto;
padding: 0;
align-items: center;
}
#foot1{
    display: flex;
    flex-direction: column;
}
#logo1 {
    width: 100px;
    height: 100px;
    margin: auto;
}
#logo2 {
    width: 150px;
    height: 100px;
    margin: auto;
}
}